<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>calendar</title>
  </head>
  <body>
    <title>calendar: ${month}/${year}</title>
    <div class="calrow row" py:for="week in weeks">
    <div py:for="e, day in enumerate(week)" class="calbox span2 ${'offset1' if e == 0 else ''} ${'today' if today and day == today else ''}">
      <h4 class="${'gray' if day.month != month else ''}">${day.day}</h4>
      <ul class="unstyled">
        <li py:for="wearing in wearing_map[day]">
          ${wearing_link(wearing)}
        </li>
        <li py:if="g.user">
          <a href="${url_for('wear_on', day=day.day, month=day.month, year=day.year)}">Wear...</a>
        </li>
      </ul>
    </div>
    </div>
  </body>
</html>
