<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head />
  <body>
    <div class="page-header">
      <h1>Home</h1>
    </div>
    <div class="calrow row" py:for="week in calendar">
    <div py:for="e, day in enumerate(week)" py:choose="day" class="calbox span2 ${'offset1' if e == 0 else ''} ${'today' if today and day == today.day else ''}">
    <py:when test="0">&nbsp;</py:when>
    <py:otherwise>
      <h4>${day}</h4>
      <ul class="unstyled">
        <li py:for="wearing in wearing_map[day]">
        <a href="${url_for('wearing_detail', id=wearing.id)}">${wearing.shirt.name}</a>
        </li>
        <li py:if="g.user"><a href="${url_for('wear_on', day=day, month=month, year=year)}">Wear...</a></li>
      </ul>
    </py:otherwise>
    </div>
    </div>
  </body>
</html>
