<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" py:strip="">
  <py:def function="errors(field)" py:for="error in field.errors">
    <span class="help-block">${error}</span>
  </py:def>

  <img py:def="has_photo(o)" py:if="o.has_photo"
       src="${url_for('.static', filename='icons/image.gif')}" alt="has photo" />

  <py:def function="shirt_link(s)">
    <a href="${url_for('shirt_detail', id=s.id)}">${s.name}</a> ${has_photo(s)}
  </py:def>

  <py:def function="wearing_link(w, full=False, date_only=False)" py:with="url = url_for('wearing_detail', id=w.id)">
    <py:choose test="">
      <a href="${url}" py:when="date_only">${w.when.strftime('%d/%m/%Y')}</a>
      <a href="${url}" py:when="full">wearing ${w.shirt.name} on ${w.when.strftime('%d/%m/%Y')}</a>
      <a href="${url}" py:otherwise="">${w.shirt.name}</a>
    </py:choose>
    ${has_photo(w)}
  </py:def>

  <a py:def="photo_link(p, alt=None)" href="${url_for('photo_detail', id=p.id)}">
    <img src="${p.url}" alt="${alt or p.filename}" />
  </a>

  <blockquote py:def="notes_for(o)" py:for="note in o.notes">
    ${note.formatted}
    <small>${note.when.strftime('%d/%m/%Y %H%M')}</small>
  </blockquote>

  <py:def function="disqus(o)" />

  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      <title py:with="title = list(select('title/text()'))">
        shurts<py:if test="title"> &mdash; ${title}</py:if>
      </title>
      <link rel="stylesheet" href="${url_for('.static', filename='i-hate-cdns/bootstrap.min.css')}" />
      <link rel="stylesheet" href="${url_for('.static', filename='layout.css')}" />
      <script type="text/javascript" py:if="session.get('redirect_uri')">
        window.onload = function () {
            document.location = "${session.pop('redirect_uri')}";
        }
      </script>
      ${select('*[local-name()!="title"]')}
    </head>
  </py:match>

  <py:match path="body" once="true">
    <body py:attrs="select('@*')"><div class="container">
      <div class="content">
        <div class="page-header">
          <ul class="top-nav">
            <li><a href="${url_for('index')}">home</a> /</li>
            <li><a href="${url_for('shirts')}">shirts</a> /</li>
            <li py:choose="">
              <span py:when="g.cert_auth">using cert auth</span>
              <a py:when="g.user" href="${url_for('logout')}">logout</a>
              <a py:otherwise="" href="${url_for('login')}">login</a>
            </li>
          </ul>
          <h1>${select('title').select('text()|*')}</h1>
        </div>
        <div py:for="category, msg in get_flashed_messages(with_categories=True)" class="alert-message ${category}">
          <p>${msg}</p>
        </div>
        ${select('*[local-name()!="title"]')}
      </div>
    </div></body>
  </py:match>
</html>
