<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>detail</title>
  </head>
  <body>
    <title py:choose="photo.type">
      photo:
      <py:when test="'shirt'">${shirt_link(photo.shirt)}</py:when>
      <py:when test="'wearing'">${wearing_link(photo.wearing, full=True)}</py:when>
    </title>

    <img src="${photo.url}" alt="photo" />
    <p>Added on ${photo.when.strftime('%d/%m/%Y %H%M')}.</p>
    ${notes_for(photo)}

    <form py:if="g.user" method="POST" enctype="multipart/form-data" action="${url_for('photo_note', id=photo.id)}">
      ${form.hidden_tag()}
      <fieldset>
        <div class="clearfix ${'error' if form.note.errors else ''}">
          ${form.note.label}
          <div class="input">
            ${form.note(class_='span8', rows=3, cols=120)}
            ${errors(form.note)}
          </div>
        </div>

        <div class="actions">
          <input class="btn small primary" type="submit" name="submit" value="Add" />
        </div>
      </fieldset>
    </form>
  </body>
</html>
