<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>list</title>
  </head>
  <body>
    <title>shirts: list</title>
    <ul>
      <li py:for="shirt in shirts">
        ${shirt_link(shirt)}
        <py:choose test="shirt.wearing_count">
          <py:when test="0">(never worn)</py:when>
          <py:when test="1">(worn once)</py:when>
          <py:otherwise>(worn ${shirt.wearing_count} times)</py:otherwise>
        </py:choose>
        <py:if test="shirt.acquired">
          (${shirt.acquired})
        </py:if>
      </li>
    </ul>
    <div py:if="g.user">
      <a class="btn small" href="${url_for('shirt_add')}">Add a shirt</a>
    </div>
  </body>
</html>
