<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>list</title>
  </head>
  <body>
    <title>shirts: list</title>
    <script type="text/javascript" src="${url_for('.static', filename='i-hate-cdns/jquery.min.js')}"></script>
    <script type="text/javascript" src="${url_for('.static', filename='i-hate-cdns/jquery.tablesorter.min.js')}">
    </script>
    <script type="text/javascript">
      $(function () {
          $('table').tablesorter({
              textExtraction: function (node) {
                  var jnode = $(node);
                  return jnode.data('sort-key') || jnode.text();
              },
              sortList: [[0, 0]],
          });
      });
    </script>
    <table class="statistics table zebra-striped">
      <thead>
        <tr>
          <th class="shirt">shirt</th>
          <th class="times-worn">times worn</th>
          <th class="most-recent-wearing">most recent wearing</th>
          <th class="acquired-on">acquired on</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="shirt in shirts" py:with="mrw = shirt.most_recent_wearing">
          <td>${shirt_link(shirt)}</td>
          <td title="wearing average ${'%0.3f' % (shirt.wearing_count / n_wearings,)}">
            ${shirt.wearing_count}
          </td>
          <td data-sort-key="${mrw.combined_when if mrw else '0000-00-00'}" py:choose="mrw">
            <py:when test="None">&mdash;</py:when>
            <a href="${mrw.detail_url()}" py:otherwise="">
              ${mrw.combined_when.strftime('%d/%m/%Y')}
            </a>
          </td>
          <td data-sort-key="${shirt.acquired if shirt.acquired else '0000-00-00'}" py:choose="shirt.acquired">
            <py:when test="None">&mdash;</py:when>
            <py:otherwise>${shirt.acquired.strftime('%d/%m/%Y')}</py:otherwise>
          </td>
        </tr>
      </tbody>
    </table>
    <div py:if="g.user">
      <a class="btn small" href="${url_for('shirt_add')}">Add a shirt</a>
    </div>
  </body>
</html>
