<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>detail</title>
  </head>
  <body>
    <title>shirt: ${shirt.name}</title>
    <p py:if="shirt.acquired">
      Acquired on ${shirt.acquired}.
    </p>
    <blockquote py:for="photo in shirt.photos">
      ${photo_link(photo, alt=shirt.name)}
      <small>${photo.when.strftime('%d/%m/%Y %H%M')}</small>
      ${notes_for(photo)}
    </blockquote>
    ${notes_for(shirt)}
    <form py:if="g.user" method="POST" enctype="multipart/form-data" action="${url_for('shirt_note', id=shirt.id)}">
      ${form.hidden_tag()}
      <fieldset>
        <div class="clearfix ${'error' if form.photo.errors else ''}">
          ${form.photo.label}
          <div class="input">
            ${form.photo()}
            <span class="help-block">Optional; if this is specified, the note will be a photo note</span>
            ${errors(form.photo)}
          </div>
        </div>

        <div class="clearfix ${'error' if form.note.errors else ''}">
          ${form.note.label}
          <div class="input">
            ${form.note(class_='span8', rows=3, cols=120)}
            <span class="help-block">Optional; if this isn't specified, a photo must be</span>
            ${errors(form.note)}
          </div>
        </div>

        <div class="actions">
          ${form.submit_note(class_="btn small primary span2")}
          ${form.submit_email(class_="btn small span3")}
          <a class="btn small" href="${url_for('shirt_edit', id=shirt.id)}">Edit</a>
        </div>
      </fieldset>
    </form>
  </body>
</html>
