<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>detail</title>
  </head>
  <body>
    <div class="page-header">
      <h1>Wearing ${wearing.shirt.name}</h1>
    </div>
    <p>
    Wearing
    <a href="${url_for('shirt_detail', id=wearing.shirt.id)}">${wearing.shirt.name}</a>
    on ${wearing.when.strftime('%d/%m/%Y')}.
    </p>
    <blockquote py:for="photo in wearing.photos">
    <a href="${url_for('photo_detail', id=photo.id)}"><img src="${photo.url}" alt="wearing" /></a>
    <small>${photo.when.strftime('%d/%m/%Y %H%M')}</small>
    <blockquote py:for="note in photo.notes">
    ${note.formatted}
    <small>${note.when.strftime('%d/%m/%Y %H%M')}</small>
    </blockquote>
    </blockquote>
    <blockquote py:for="note in wearing.notes">
    ${note.formatted}
    <small>${note.when.strftime('%d/%m/%Y %H%M')}</small>
    </blockquote>
    <py:if test="g.user">
      <form method="POST" enctype="multipart/form-data" action="${url_for('wearing_note', id=wearing.id)}">
        ${form.hidden_tag()}
        <fieldset>

          <div class="clearfix ${'error' if form.photo.errors else ''}">
          ${form.photo.label}
          <div class="input">
            ${form.photo()}
            <span class="help-block">Optional; if this is specified, the note will be a photo note</span>
            <py:for each="error in form.photo.errors">
              <span class="help-block">${error}</span>
              </py:for>
          </div>
          </div>

          <div class="clearfix ${'error' if form.note.errors else ''}">
          ${form.note.label}
          <div class="input">
            ${form.note(class_='span8', rows=3, cols=120)}
            <py:for each="error in form.note.errors">
              <span class="help-block">${error}</span>
              </py:for>
          </div>
          </div>

          <div class="actions">
            <input class="btn small primary" type="submit" name="submit" value="Note" />
          </div>
        </fieldset>
      </form>
    </py:if>
  </body>
</html>
