<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>detail</title>
  </head>
  <body>
    <title>
      wearing: ${shirt_link(wearing.shirt)} on ${wearing.when.strftime('%d/%m/%Y')}
    </title>
    <blockquote py:for="photo in wearing.photos">
      ${photo_link(photo)}
      <small>${photo.when.strftime('%d/%m/%Y %H%M')}</small>
      ${notes_for(photo)}
    </blockquote>
    ${notes_for(wearing)}
    <py:if test="g.user">
      <form method="POST" enctype="multipart/form-data" action="${url_for('wearing_note', id=wearing.id)}">
        ${form.hidden_tag()}
        <fieldset>

          <div class="clearfix ${'error' if form.photo.errors else ''}">
          ${form.photo.label}
          <div class="input">
            ${form.photo()}
            <span class="help-block">Optional; if this is specified, the note will be a photo note</span>
            <py:for each="error in form.photo.errors">
              <span class="help-block">${error}</span>
              </py:for>
          </div>
          </div>

          <div class="clearfix ${'error' if form.note.errors else ''}">
          ${form.note.label}
          <div class="input">
            ${form.note(class_='span8', rows=3, cols=120)}
            <py:for each="error in form.note.errors">
              <span class="help-block">${error}</span>
              </py:for>
          </div>
          </div>

          <div class="actions">
            <input class="btn small primary" type="submit" name="submit" value="Note" />
          </div>
        </fieldset>
      </form>
    </py:if>
  </body>
</html>
